.cthf-block__contact-info .contact__link {
	display: flex;
}
.cthf-block__contact-info .icon__wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	& svg {
		display: flex;
	}
}
