.cthf-block__business-hours .business-hours__wrap {
	list-style: none;

	&,
	& .business-hour__item {
		margin: 0;
		padding: 0;
	}

	& .weekday {
		text-transform: capitalize;
	}

	& .business-hour__item {
		display: flex;
		gap: 4px;
		row-gap: 2px;
		flex-wrap: wrap;
	}
}
