.cthf__mobile-layout-picker,
.cthf__cta-btn-group {
	& .flex-wrap {
		padding: 22px 10px;
		border: 1px solid #acacac;
		margin-top: 10px;

		&:not(.flex-1) {
			margin-top: 16px;
			position: relative;
		}
	}

	& #clear-flex {
		cursor: pointer;
		position: absolute;
		top: 0;
		right: 0;
		margin: 4px 6px 0 0;

		& svg {
			width: 14px;
			height: 14px;
		}
	}
}
.cthf__cta-btn-group {
	margin-bottom: 22px;
}

.cthf__blur {
	opacity: 0.5;
}

.cthf__attr-divider {
	display: flex;
	justify-content: space-between;
	gap: 16px;

	& > div {
		width: 100%;
	}
}

.cthf__nav-icon-variation {
	width: 18px;
	height: 16px;
}

.cthf__mobile-layout-wrapper .cthf__responsive-navigation .mini-cart__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
