.cthf__display-none {
	display: none;
}
.cthf__overflow-hidden {
	overflow: hidden;
}

.cthf-block__header.is-sticky.on-scroll__sticky:not(.top-bar__is-sticky)
	> .wp-block-group,
.cthf-block__header.is-sticky.on-scroll__sticky.top-bar__is-sticky,
.cthf__mobile-layout-wrapper.is-sticky.on-scroll__sticky {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	animation: slideDown 0.32s ease-in-out forwards;
}
.cthf-block__header.is-sticky.is-bottom-scroll__hidden.on-scroll__hide:not(
		.top-bar__is-sticky
	)
	> .wp-block-group,
.cthf-block__header.is-sticky.is-bottom-scroll__hidden.on-scroll__hide.top-bar__is-sticky,
.cthf__mobile-layout-wrapper.is-bottom-scroll__hidden.on-scroll__hide {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	animation: slideUp 0.32s ease-in-out forwards;
}

// .cthf-block__header.is-sticky.on-scroll__sticky {
// 	opacity: 0.95;
// }

@keyframes slideDown {
	from {
		top: -100px; /* Start hidden */
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -100px; /* Hide it smoothly */
		opacity: 0;
	}
}

/* Mobile Layout */
.cthf__mobile-layout-wrapper {
	padding: 26px;
	box-sizing: border-box;
}
.cthf__mobile-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;
}
/* Navigation Icon */
.cthf__responsive-navigation {
	display: inline-block;

	& .nav__icon {
		fill: #000;
		display: flex;
		cursor: pointer;
	}
}

/* Sidebar panel */
.cthf__sidebar-panel-wrap {
	& .sidebar-panel__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99999;
		width: 100vw;
		height: 100vh;
		background-color: #00000043;
	}

	& .sidebar-panel__body {
		height: 100vh;
		position: fixed;
		top: 0;
		background: #fff;
		z-index: 999999;
		width: 35%;
		padding: 40px 26px;
		box-sizing: border-box;

		@media only screen and (width <= 1024px) {
			& {
				width: 100% !important;
			}
		}

		&.position-left {
			left: -100%;
			animation: openTrayLeft 0.3s ease forwards;
		}

		&.position-right {
			right: -100%;
			animation: openTrayRight 0.3s ease forwards;
		}

		& .close__icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 24px;
			fill: #000;
			display: flex;
			cursor: pointer;
			margin: 10px;
		}
	}
}

@keyframes openTrayLeft {
	from {
		left: -100%;
	}
	to {
		left: 0;
	}
}

@keyframes openTrayRight {
	from {
		right: -100%;
	}
	to {
		right: 0;
	}
}

/* Navigation Styles */
.cthf__sidebar-panel-wrap .wp-block-navigation__container.wp-block-navigation {
	display: block;
}
