.cthf-block__header.is-sticky.on-scroll__sticky:not(.top-bar__is-sticky)
	> .wp-block-group,
.cthf-block__header.is-sticky.on-scroll__sticky.top-bar__is-sticky,
.cthf__mobile-layout-wrapper.is-sticky.on-scroll__sticky {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	animation: slideDown 0.32s ease-in-out forwards;
}
.cthf-block__header.is-sticky.is-bottom-scroll__hidden.on-scroll__hide:not(
		.top-bar__is-sticky
	)
	> .wp-block-group,
.cthf-block__header.is-sticky.is-bottom-scroll__hidden.on-scroll__hide.top-bar__is-sticky,
.cthf__mobile-layout-wrapper.is-bottom-scroll__hidden.on-scroll__hide {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	animation: slideUp 0.32s ease-in-out forwards;
}

@keyframes slideDown {
	from {
		top: -100px; /* Start hidden */
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -100px; /* Hide it smoothly */
		opacity: 0;
	}
}

/* Mobile Layout */
.cthf__mobile-layout-wrapper {
	& ul {
		list-style: none;
	}
	& ul,
	& li {
		margin: 0;
		padding: 0;
	}
	/* Site Logo */
	& .custom-logo-link {
		display: flex;
		width: fit-content;

		& .custom-logo {
			width: 100%;
			height: auto;
		}
	}
	& .content-align-center .custom-logo-link {
		margin: 0 auto;
	}
	& .content-align-right .custom-logo-link {
		margin: 0 0 0 auto;
	}

	/* Navigation */
	& .content-align-center .wp-block-navigation__container {
		text-align: center;

		& .wp-block-navigation__submenu-container {
			width: auto !important;
		}
	}
	& .content-align-right .wp-block-navigation__container {
		text-align: right;

		& .wp-block-navigation__submenu-container {
			width: auto !important;
		}
	}
}
/* CTA Button */
.cthf__cta-anchor-btn {
	text-align: center;
}

/* Social Icons */
.cthf__social-icon-group {
	display: flex;
	gap: 16px;

	& .cthf__social-icon {
		transition: all 0.23s ease-out;

		& a {
			display: flex;
			// height: fit-content;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
		}

		/* Brand Colors */
		&.has-brand-color {
			&.view-stacked a {
				color: #fff;
			}
			&.social-facebook.view-default a {
				color: #0866ff;
			}
			&.social-facebook.view-stacked {
				background-color: #0866ff;
			}
			&.social-instagram.view-default a {
				color: #ff0069;
			}
			&.social-instagram.view-stacked {
				background-color: #ff0069;
			}
			&.social-whatsapp.view-default a {
				color: #25d366;
			}
			&.social-whatsapp.view-stacked {
				background-color: #25d366;
			}
			&.view-default.social-tiktok a,
			&.view-default.social-x a,
			&.view-default.social-medium a {
				color: #000;
			}
			&.view-stacked.social-tiktok,
			&.view-stacked.social-x,
			&.view-stacked.social-medium {
				background-color: #000;
			}
			&.social-pinterest.view-default a {
				color: #bd081c;
			}
			&.social-pinterest.view-stacked {
				background-color: #bd081c;
			}
			&.social-spotify.view-default a {
				color: #1ed760;
			}
			&.social-spotify.view-stacked {
				background-color: #1ed760;
			}
			&.social-reddit.view-default a {
				color: #ff4500;
			}
			&.social-reddit.view-stacked {
				background-color: #ff4500;
			}
			&.social-rss.view-default a {
				color: #ffa500;
			}
			&.social-rss.view-stacked {
				background-color: #ffa500;
			}
			&.social-snapchat.view-default a {
				color: #fffc00;
			}
			&.social-snapchat.view-stacked {
				background-color: #fffc00;
			}
			&.social-telegram.view-default a {
				color: #26a5e4;
			}
			&.social-telegram.view-stacked {
				background-color: #26a5e4;
			}
			&.social-vk.view-default a {
				color: #0077ff;
			}
			&.social-vk.view-stacked {
				background-color: #0077ff;
			}
			&.social-tumblr.view-default a {
				color: #36465d;
			}
			&.social-tumblr.view-stacked {
				background-color: #36465d;
			}
			&.social-youtube.view-default a {
				color: #ff0000;
			}
			&.social-youtube.view-stacked {
				background-color: #ff0000;
			}
			&.social-twitch.view-default a {
				color: #9146ff;
			}
			&.social-twitch.view-stacked {
				background-color: #9146ff;
			}
			&.social-yelp.view-default a {
				color: #ff1a1a;
			}
			&.social-yelp.view-stacked {
				background-color: #ff1a1a;
			}
			&.social-etsy.view-default a {
				color: #f16521;
			}
			&.social-etsy.view-stacked {
				background-color: #f16521;
			}
			&.social-dribble.view-default a {
				color: #ea4c89;
			}
			&.social-dribble.view-stacked {
				background-color: #ea4c89;
			}
			&.social-behance.view-default a {
				color: #1769ff;
			}
			&.social-behance.view-stacked {
				background-color: #1769ff;
			}
			&.social-linkedin.view-default a {
				color: #0077b5;
			}
			&.social-linkedin.view-stacked {
				background-color: #0077b5;
			}
		}

		&:hover {
			transform: scale(1.1);
			transition: all 0.23s ease-in-out;
		}
	}
}
.cthf__mobile-layout-wrapper {
	padding: 26px;
	box-sizing: border-box;
}
.cthf__mobile-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;

	@media only screen and (width<=1280px) {
		& {
			flex-wrap: wrap;
			gap: 26px;
		}
	}
}
/* Responsive Buttons */
.cthf__responsive-navigation {
	display: inline-flex;
	gap: 16px;
	align-items: center;

	// Icons
	& .cthf__mob-icon {
		width: 18px;
		height: 18px;
		cursor: pointer;
	}

	// Search Icon
	& .cthf__search-wrapper {
		display: flex;
		gap: 6px;
		align-items: center;

		& .search__icon-wrapper {
			display: flex;
		}
	}

	/* Mini-cart Icon */
	& .wc-block-mini-cart__button {
		padding: 0;

		& .wc-block-mini-cart__icon {
			transform: scaleX(-1);
		}

		& .wc-block-mini-cart__badge {
			color: #fff;
		}
	}

	/* My Account Icon */
	& .cthf__my-account-wrap {
		display: flex;
	}
}
/* Search Modal */
.cthf-block__wrapper {
	& .cthf__search-modal {
		width: 100vw;
		height: 100vh;
		position: fixed;
		left: 0;
		z-index: 9999;
		top: -100%;
		transition: all 0.5s ease;
		visibility: hidden;
		opacity: 0;

		&.has-animation__slide-down:not(.cthf__display-none) {
			top: 0;
			visibility: visible;
			opacity: 1;
			transition: all 0.5s ease;
		}

		& .close__icon {
			position: absolute;
			right: 3%;
			top: 3%;
			border-radius: 100px;
			padding: 12px;
			background-color: #fff;
			width: 20px;
			height: 20px;
			cursor: pointer;
			transition: all 0.23s ease-out;

			&:hover {
				color: #fff;
				background-color: #f90;
				transform: rotate(180deg);
				transition: all 0.23s ease-in-out;
			}
		}
	}
	& .cthf__search-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #00000068;
	}

	& .cthf__search-body {
		margin: 0;
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;

		& .search__heading {
			margin-bottom: 16px;
		}
	}

	& form {
		position: relative;

		& .search__icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			color: #acacac;
			margin-left: 12px;
			width: 18px;
			height: 16px;
		}
	}
	& .cthf__search {
		padding: 8px;
		padding-left: 36px;
		box-sizing: border-box;
		width: 100%;
		height: 50px;
	}
}

/* Sidebar panel */
.cthf__sidebar-panel-wrap {
	& ul {
		margin: 0;
		padding: 0;
	}

	& .sidebar-panel__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99999;
		width: 100vw;
		height: 100vh;
		background-color: #00000043;
	}

	& .sidebar-panel__body {
		height: 100vh;
		position: fixed;
		top: 0;
		background: #fff;
		z-index: 999999;
		width: 35%;
		padding: 40px 26px;
		box-sizing: border-box;

		@media only screen and (width <= 1024px) {
			& {
				width: 100% !important;
			}
		}

		&.position-left {
			left: -100%;
			animation: openTrayLeft 0.3s ease forwards;
		}

		&.position-right {
			right: -100%;
			animation: openTrayRight 0.3s ease forwards;
		}

		& .close__icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 24px;
			fill: #000;
			display: flex;
			cursor: pointer;
			margin: 10px;
		}

		/* Menu */
		& .wp-block-navigation__container .wp-block-navigation__submenu-container {
			border: none !important;
			display: none;

			&.is-visible {
				display: flex;
			}

			& > li {
				margin-top: 6px;
			}
		}

		& .wp-block-navigation__submenu-icon {
			float: right;
			width: 16px;
			height: 16px;

			& svg {
				width: 16px;
				height: 16px;
			}
		}

		&
			.wp-block-navigation__container
			.wp-block-navigation-item.has-child
			> button {
			transform: rotate(0deg);
			transition: all 0.3s ease-out;
		}
		&
			.wp-block-navigation__container
			.wp-block-navigation-item.has-child:has(
				.wp-block-navigation__submenu-container.is-visible
			)
			> button {
			// transform: rotate(180deg);
			transform: scaleY(-1);
			// transform-origin: center;
			transition: all 0.3s ease-in-out;
		}

		/* Button Group */
		.cthf__cta-btn-group {
			display: flex;
			align-items: center;

			& .cthf__cta-anchor-btn.sidebar-btn {
				text-align: center;
			}
		}
	}
}
.cthf__sidebar-panel-wrap.cthf__close-animation {
	& .sidebar-panel__overlay {
		animation: fadeOut 0.3s ease-in-out forwards;
	}
	& .sidebar-panel__body.position-right {
		animation: closeTrayRight 1s ease forwards;

		@media only screen and (width <= 1024px) {
			& {
				animation: closeTrayRight 0.5s ease forwards;
			}
		}
	}

	& .sidebar-panel__body.position-left {
		animation: closeTrayLeft 1s ease forwards;

		@media only screen and (width <= 1024px) {
			& {
				animation: closeTrayLeft 0.5s ease forwards;
			}
		}
	}
}

@keyframes openTrayLeft {
	from {
		left: -100%;
	}
	to {
		left: 0;
	}
}

@keyframes openTrayRight {
	from {
		right: -100%;
	}
	to {
		right: 0;
	}
}

@keyframes closeTrayRight {
	from {
		right: 0;
	}
	to {
		right: -100%;
	}
}

@keyframes closeTrayLeft {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Overriding default Navigation Styles */
.cthf__sidebar-panel-wrap nav {
	display: block !important;
}
.cthf__sidebar-panel-wrap .wp-block-navigation__container.wp-block-navigation {
	display: block;
	list-style: none;

	& > li:not(:first-child) {
		margin-top: 26px;
	}

	& .wp-block-navigation__submenu-container {
		visibility: visible;
		list-style: none;
		opacity: 1;
		position: initial;
		width: auto;
		height: auto;
		margin: 10px !important;
		background-color: transparent !important;
		box-shadow: none;
	}

	& li {
		display: block;

		&.has-child .wp-block-navigation-item__content {
			display: inline-block;
			padding: 0;
		}
	}

	& .wp-block-navigation__submenu-container.wp-block-navigation-submenu {
		padding-left: 0 !important;
		box-sizing: border-box;
	}

	& .wp-block-navigation__submenu-container li:hover {
		background-color: transparent !important;
		box-shadow: none;
	}

	& .wp-block-navigation__submenu-icon {
		background-color: transparent;
		border: none;
		outline: none;

		& svg {
			fill: #000;
		}
	}

	&
		.has-child
		.wp-block-navigation__submenu-container
		.wp-block-navigation__submenu-icon
		svg {
		transform: rotate(0deg);
	}
}
// Submenu hover effect
.wp-block-navigation__container
	.wp-block-navigation__submenu-container.wp-block-navigation-submenu {
	border: 0;
	box-shadow:
		0 2px 4px rgba(0, 0, 0, 0.06),
		0 8px 16px rgba(0, 0, 0, 0.12);
	margin-top: 15px;
	transition: all ease 0.23s;
	padding: 0 !important;
	z-index: 99;
}
.wp-block-navigation__container
	li:hover
	.wp-block-navigation__submenu-container.wp-block-navigation-submenu,
.wp-block-navigation__container
	.wp-block-navigation__submenu-container.wp-block-navigation-submenu
	li:hover
	ul.wp-block-navigation-submenu {
	margin-top: 0;
}
.wp-block-navigation__container
	.wp-block-navigation__submenu-container.wp-block-navigation-submenu
	ul.wp-block-navigation-submenu {
	margin-top: 10px;
	transition: all ease 0.23s;
}
// Subemnu a tag hover
.wp-block-navigation__submenu-container.wp-block-navigation-submenu a {
	display: block;
	color: inherit;
	padding: 8px 12px;
	transition:
		transform 0.2s ease,
		filter 0.2s ease;
}

.wp-block-navigation__submenu-container.wp-block-navigation-submenu a:hover {
	transform: translateX(5px);
	filter: brightness(85%);
}