.cthf-block__header.is-sticky.on-scroll__sticky:not(.top-bar__is-sticky)
	> .wp-block-group,
.cthf-block__header.is-sticky.on-scroll__sticky.top-bar__is-sticky,
.cthf__mobile-layout-wrapper.is-sticky.on-scroll__sticky {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	animation: slideDown 0.32s ease-in-out forwards;
}
.cthf-block__header.is-sticky.is-bottom-scroll__hidden.on-scroll__hide:not(
		.top-bar__is-sticky
	)
	> .wp-block-group,
.cthf-block__header.is-sticky.is-bottom-scroll__hidden.on-scroll__hide.top-bar__is-sticky,
.cthf__mobile-layout-wrapper.is-bottom-scroll__hidden.on-scroll__hide {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	animation: slideUp 0.32s ease-in-out forwards;
}

@keyframes slideDown {
	from {
		top: -100px; /* Start hidden */
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		top: 0;
		opacity: 1;
	}
	to {
		top: -100px; /* Hide it smoothly */
		opacity: 0;
	}
}

/* Mobile Layout */
.cthf__mobile-layout-wrapper {
	/* Site Logo */
	& .custom-logo-link {
		display: flex;
		width: fit-content;

		& .custom-logo {
			width: 100%;
			height: auto;
		}
	}

	/* CTA Button */
	& .cthf__cta-anchor-btn {
		text-align: center;
	}
}

.cthf__mobile-layout-wrapper {
	padding: 26px;
	box-sizing: border-box;
}
.cthf__mobile-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 1180px;

	@media only screen and (width<=1280px) {
		& {
			flex-wrap: wrap;
			gap: 20px;
		}
	}
}
/* Responsive Buttons */
.cthf__responsive-navigation {
	display: inline-flex;
	gap: 16px;
	align-items: center;

	// Icons
	& .cthf__mob-icon {
		width: 15px;
		height: 15px;
		fill: #000;
		display: flex;
		cursor: pointer;

		&.search__icon,
		&.user__icon {
			fill: none;
			stroke: #000;
		}
	}

	// Search Icon
	& .cthf__search-wrapper {
		display: flex;
		gap: 6px;
		align-items: center;

		&:has(.cthf__search.is-visible) .search__icon-wrapper {
			margin-left: 20px;
		}

		& form {
			margin: 0;
		}

		& .cthf__search {
			padding: 8px;

			&.show-on-click {
				width: 0;
				max-width: 0;
				visibility: hidden;
				opacity: 0;
				position: absolute;
				transition: max-width 0.3s ease-out;
			}
			&.is-visible {
				width: 100%;
				max-width: 200px;
				visibility: visible;
				opacity: 1;
				position: unset;
				transition: max-width 0.3s ease-in-out;
			}
		}
	}

	/* Mini-cart Icon */
	& .wc-block-mini-cart__button {
		padding: 0;

		& .wc-block-mini-cart__icon {
			transform: scaleX(-1);
		}

		& .wc-block-mini-cart__badge {
			color: #fff;
		}
	}
}

/* Sidebar panel */
.cthf__sidebar-panel-wrap {
	& ul {
		margin: 0;
		padding: 0;
	}

	& .sidebar-panel__overlay {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 99999;
		width: 100vw;
		height: 100vh;
		background-color: #00000043;
	}

	& .sidebar-panel__body {
		height: 100vh;
		position: fixed;
		top: 0;
		background: #fff;
		z-index: 999999;
		width: 35%;
		padding: 40px 26px;
		box-sizing: border-box;

		@media only screen and (width <= 1024px) {
			& {
				width: 100% !important;
			}
		}

		&.position-left {
			left: -100%;
			animation: openTrayLeft 0.3s ease forwards;
		}

		&.position-right {
			right: -100%;
			animation: openTrayRight 0.3s ease forwards;
		}

		& .close__icon {
			position: absolute;
			top: 0;
			right: 0;
			width: 24px;
			height: 24px;
			fill: #000;
			display: flex;
			cursor: pointer;
			margin: 10px;
		}

		/* Button Group */
		.cthf__cta-btn-group {
			display: flex;
			align-items: center;
		}
	}
}
.cthf__sidebar-panel-wrap.cthf__close-animation {
	& .sidebar-panel__overlay {
		animation: fadeOut 0.3s ease-in-out forwards;
	}
	& .sidebar-panel__body.position-right {
		animation: closeTrayRight 1s ease forwards;

		@media only screen and (width <= 1024px) {
			& {
				animation: closeTrayRight 0.5s ease forwards;
			}
		}
	}

	& .sidebar-panel__body.position-left {
		animation: closeTrayLeft 1s ease forwards;

		@media only screen and (width <= 1024px) {
			& {
				animation: closeTrayLeft 0.5s ease forwards;
			}
		}
	}
}

@keyframes openTrayLeft {
	from {
		left: -100%;
	}
	to {
		left: 0;
	}
}

@keyframes openTrayRight {
	from {
		right: -100%;
	}
	to {
		right: 0;
	}
}

@keyframes closeTrayRight {
	from {
		right: 0;
	}
	to {
		right: -100%;
	}
}

@keyframes closeTrayLeft {
	from {
		left: 0;
	}
	to {
		left: -100%;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

/* Overriding default Navigation Styles */
.cthf__sidebar-panel-wrap nav {
	display: block !important;
}
.cthf__sidebar-panel-wrap .wp-block-navigation__container.wp-block-navigation {
	display: block;
	list-style: none;

	& > li:not(:first-child) {
		margin-top: 26px;
	}

	& .wp-block-navigation__submenu-container {
		visibility: visible;
		list-style: none;
		opacity: 1;
		position: initial;
		width: 100%;
		height: auto;
		margin: 10px !important;
		background-color: transparent !important;
		box-shadow: none;
	}

	& li {
		display: block;

		&.has-child .wp-block-navigation-item__content {
			display: inline-block;
			padding: 0;
		}
	}

	& .wp-block-navigation__submenu-container li:hover {
		background-color: transparent !important;
		box-shadow: none;
	}

	& .wp-block-navigation__submenu-icon {
		background-color: transparent;
		border: none;
		outline: none;

		& svg {
			fill: #000;
		}
	}

	&
		.has-child
		.wp-block-navigation__submenu-container
		.wp-block-navigation__submenu-icon
		svg {
		transform: rotate(0deg);
	}
}
